body {
	background-color: #e6ecf0;
}

/* Navbar styling */

.navbar-header {
	text-align: center;
	width: 100%;
	padding: 15px;
	float: left;
}

#after-logo {
	padding-left: 20px;
	font-weight: bold;
	font-size: 24px;
}

/* Team Member styling */

.card {
	width: 12rem;
}

.card-title {
	text-transform: capitalize;
}