body {
	background-color: #e6ecf0;
	padding-bottom: 200px
}

.loading-text {

}

.innerLoad {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}

.innerLoadText {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.typeList {
	margin-top: 20px;
	background-color: rgba(0,0,0,0.05);
}

.typeCaption {
	caption-side: top;
}

/* Navbar styling */

.navbar-header {
	text-align: center;
	width: 100%;
	padding: 15px;
	float: left;
}

#after-logo {
	padding-left: 20px;
	font-weight: bold;
	font-size: 24px;
}

/* Team Member styling */

.types {
	/*top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	padding-bottom: 12px;*/
	justify-content: center;
}

.card {
	width: 12rem;
}

.card-title {
	text-transform: capitalize;
	/*margin-top: -50px;*/
}

.card-text {
/*	padding: 5px;
	padding-top: 10px;
	position: absolute;*/
}

.move {
	text-transform: capitalize;
}

.addTeamMemberSprite {
	width: 200px;
	height: 200px;
}

.pokeName {
	text-transform: capitalize;
}

.toTeam {
	margin-top: 60px;
}

#pokeInfo {
	text-align: center;
}

#select {
	padding-top: 20px;
}

.add {
	margin-top: 10px;
}